body{
	background-color: #f6f7f7;
  line-height: 1;
}

select.input-sm {
  line-height: 1;
}

.container{
  max-width: none !important;
  width: 1025px;
}

.navbar-default{
  background-color: #267da8;
  min-height: 44px;
  margin-top: 6px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #D7E9F1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #D7E9F1;
}

.navbar-nav.navbar-right:last-child {
margin-right: 0px;
}

.navbar-nav > li > a {
  font-size: 14px;
  padding: 10px 15px;
  line-height: 24px;
}

.icon-navbar{
  margin-left: 5px;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  margin-left: 5px;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #D7E9F1;
  border-bottom-color: #D7E9F1;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
}

.navbar-default .dropdown-menu {
  background-color: #267da8;
}

.navbar-default .dropdown-arrow{
  border-color: transparent transparent #267da8 transparent;
}

.navbar-default .dropdown-menu li > a {
  color: rgba(169, 208, 208, 0.75);
}

.navbar-default .dropdown-menu li > a:hover, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
  background: #267da8;
  color: #fff;
}

.navbar-default .dropdown-menu li.active > a{
  background: #267da8;
  color: #ffffff;
}

.navbar-default .dropdown-menu li.active > a:hover{
  background: #267da8;
  color: #ffffff;
}

#second-nav{
  margin-bottom: -7px;
  border: none;
}

.nav-tabs > li {
  margin-bottom: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: white;
}

#second-nav > li.active > a{
  border-color: #EBEBEB;
  color: #267da8;
  border-bottom: none;  
}

#second-nav > li > a:hover, #second-nav > li > a:focus{
  color: #267da8;
}

#sub-menu .breadcrumb{
  font-size: 12px;
  border: 2px solid #EBEBEB;
}

#sub-menu .breadcrumb > li:after{
  content: none;
}

#sub-menu .breadcrumb > li{
  margin-right: 15px;
}

#sub-menu .breadcrumb > li a{
  color: #7f8c9a;
}

#sub-menu .breadcrumb > li.active > a{
  color: #267da8;
  cursor: pointer;
}


small, .small {
  line-height: 1;
}

.main_wrapper{
  margin: 25px 0px;
}

.main_wrapper .main{
  margin: 5px auto;
}

.infotext{
  font-size:12px;
}

.advertise-top-left{
  height: 60px;
}

.main{
  margin: 140px auto;
  float: none;
  background-color: white;
  border: 2px solid #EBEBEB;
  height: 100%;
  padding: 20px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.install{
  margin: 40px auto;
}

.form-group.focus .form-control, .form-control:focus {
	border-color: #267da8;
}

.btn-p202 {
  color: #ffffff;
  background-color: #1d950c;
}

.btn-p202:hover, .btn-p202.hover, .btn-p202:focus{
  background-color: #2CAA1A;
}

.form-signin {
  padding: 10px 20px;
  margin: 0 auto;
}

.form-signin .form-group{
  margin-bottom: 0px;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .first {
  margin-bottom: -2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin .middle {
  margin-bottom: -2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .middle {
   border-radius: 0;
}

.form-signin .last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.form-signin .forgot-text {
  font-size: 10px;
  line-height: 2.5;
}

.form-signin .login_tooltip{
  top: 16px;
  right: -195px;
  display: block;
}

.install_logs{
  font-size: 12px;
}

.footer{
  text-align: center;
  font-size: 11px;
}

.advertise{
  padding: 22px 0px;
  width: 100%;
}

.home-icons{
  font-size: 15px;
}

.h6-home{
  border-bottom: 1px solid;
  border-bottom-color: #E2E2E2;
}

.home .meetup-links{
  font-size: 10px;
  position: absolute;
  margin: 8px 6px 0px 6px;
}

.home .apps img{
  width: 42px;
}

.home .apps a{
  font-size: 14px;
}

.home .apps span{
  font-size: 12px;
}

.home .apps .app-row{
  margin-top: 10px;
}

#tracking202_tweets{
  font-size: 14px;
}

#tracking202_tweets span{
  margin-right: 5px;
  font-size: 12px;
}

#tracking202_posts{
  font-size: 14px;
}

#tracking202_posts i{
  margin-right: 5px;
  font-size: 12px;
}


#tracking202_sponsors a{
  font-size: 14px;
}

#tracking202_sponsors span{
  font-size: 12px;
}

.home .resources{
  font-size: 15px;
}

.home .resources table{
  width: 100%;
}

.home .resources h2{
  font-size: 24px;
}

.home .resources h3{
  font-size: 20px;
}

.home .resources img{
  max-width: 125px;
}

.account_left{
  background-color: #eee;
  font-size: 14px;
}

.success{
  background-color: #fff;
  color: #1d950c;
}

.error{
  background-color: #fff;
  color: #e74c3c;
}

.account label{
  line-height: 1.6;
}

.row select{
  line-height: 1.462;
}

.form_seperator {
  padding-left: 15px; 
  padding-right: 15px;
}

.form_seperator .col-xs-12{
  border-bottom: 2px dotted #eee;
}

#system-prefs p{
  margin: 0px;
  font-size: 14px;
  border-bottom: 1px dotted #D5D5D5;
}

.panel .panel-heading {
  font-size: 14px;
  font-weight: bold;
  color: #34495e;
}

.panel .panel-body{
  line-height: 1.3;
}

.panel .panel-body ul{
  font-size: 14px;
  margin-left: -23px;
}

.panel .panel-body ul > li > a{
  font-size: 12px;
}

#placeholders .btn-xs {
  padding: 5px 8px;
}

#width-tooltip .tooltip-inner {
    min-width: 350px;
}

#ad-preview-headline{
  color: #0000CC;
  text-decoration: underline;
}

#ad-preview-body{
  font-size: 14px;
}

#ad-preview-url{
  font-size: 14px;
  color: green;
}

.remove-offer-grid{
  margin-top: 11px;
  font-size: 14px;
  padding: 0px; 
  cursor: pointer;
}

.loading{
  position: absolute;
  right: -5px;
  top: 9px;
}

#preferences-wrapper{
  padding: 10px;
  background-color: #f3f4f5;
  border-radius: 6px;
  border: 2px solid #7f8c9a;
  color: #7f8c9a;
}

#preferences-wrapper label{
  font-size: 10px;
  margin: 0px;
}

#preferences-wrapper select{
  width: 131px;
  height: 29px;
  line-height: 1;
  font-size: 10px;
}

#preferences-wrapper input{
  height: 29px;
  font-size: 10px;
}

#preferences-wrapper .form_seperator .col-xs-12{
  border-bottom: 1px dotted #7f8c9a;
}

#preferences-wrapper .loading{
  right: -20px;
  top: 4px
}

#preferences-wrapper .panel{
  width: 332px;
}

#preferences-wrapper .panel-body{
  padding: 3px;
}

#preferences-wrapper #ad-preview-headline{
  font-size: 14px;
}

#preferences-wrapper #ad-preview-body, #ad-preview-url{
  font-size: 12px;
}

#stats-table th{
  padding: 8px 10px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

#stats-table th > a{
  color: #526476;
  cursor: pointer;
}

#stats-table td{
  padding: 8px 0px;
  font-size: 12px;
  text-align: center;
}

#stats-table .label {
  font-size: 10px;
}

#stats-table .sub {
  background-color: #F8F8F8;
}

#stats-table .sub2 .result_main_column_level_0{
  padding: 0px;
}

#stats-table .sub .result_main_column_level_1{
  padding: 0px 0px 0px 5px;
  font-weight: bold;
  text-align: left;
}

#stats-table .lite .result_main_column_level_2{
  padding: 0px 0px 0px 15px;
  text-align: left;
}

#stats-table .lite .result_main_column_level_3{
  padding: 0px 0px 0px 25px;
  text-align: left;
}

#stats-table .lite .result_main_column_level_4{
  padding: 0px 0px 0px 40px;
  text-align: left;
}

#stats-table .dark .result_main_column_level_4{
  padding: 0px 0px 0px 40px;
  text-align: left;
}

#stats-table .dark .result_main_column_level_2{
  padding: 0px 0px 0px 15px;
  text-align: left;
}

#stats-table .dark .result_main_column_level_3{
  padding: 0px 0px 0px 25px;
  text-align: left;
}



.label-info {
  background-color: #3498db;
  color: #ffffff;
}

#totals td {
  padding: 3px;
}


#table-pages ul li > a{
  line-height: 0;
  min-width: 0px;
  min-height: 0px;
  font-size: 12px;
  padding: 13px 10px;
  cursor: pointer;
}

#table-pages ul li > a:hover{
  background-color: #267da8;
}

#table-pages ul li.active > a{
  background-color: #267da8;
}

.modal-dialog {
  left: 0px;
  z-index: 1051;
}

.modal-body {
  padding: 5px 24px 20px;
}

.bootstrap-switch-primary {
  color: #1d950c;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}

.bootstrap-switch-primary~.bootstrap-switch-handle-off:before {
  background-color: #1d950c;
  border-color: #1d950c;
}

.iconbar-unread {
  background-color: #e74c3c;
}

#vip-perks-unread {
  top: 32px;
  right: 47px;
}

#maxmindisp .form-horizontal .radio, .form-horizontal .radio-inline{
  padding-top: 0px;
  margin-top: 10px;
}

#maxmindisp .control-label{
  text-align: left;
}

#rest-api-keys li{
  margin-bottom: 10px;
  font-size: 14px;
}

#rest-api-keys li > a{
 float: none;
 font-size: 14px;
 margin-left: 5px;
}

#device-tooltip .tooltip-inner {
  font-size: 12px;
  padding:8px 3px;
}

.loading-stats{
  text-align: center;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f2fbfa;
}

#survey-modal .form-horizontal .radio, .form-horizontal .radio-inline {
  padding-top: 0px;
  margin-top: 14px;
}

#survey-modal .control-label{
  text-align: left;
}

#survey-modal .form-group{
  margin-bottom: 0px;
}

#survey-modal .modal-body{
  max-height: calc(100vh - 212px);
  overflow-y: auto;
}

#vip_perks .form-horizontal .radio, .form-horizontal .radio-inline {
  padding-top: 0px;
  margin-top: 14px;
}

#vip_perks .control-label{
  text-align: left;
}

#vip_perks .form-group{
  margin-bottom: 0px;
}


#notification{
  position: absolute;
  border-radius: 7px;
  top: 3px;
  right: 24px;
}

#notification-perks{
  position: absolute;
  border-radius: 7px;
  top: 39px;
  right: 48px;
}

.rules {
  padding: 15px 0px 15px 25px;
  background-color: #f5f5f5;
  border-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#remove_rule {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
}

#remove_criteria {
  font-size: 12px;
  margin-bottom: 9px;
}

.tokenfield{
  margin-left: 3px;
}

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint {
  border:none;
  height: 35px;
  margin-top: -8px;
  padding: 6px 0px;
}

.tokenfield .token-input {
  min-height: 21px;
}

.tokenfield .twitter-typeahead .tt-hint {
  height: 35px;
  z-index: 0;
}

.twitter-typeahead .tt-dropdown-menu {
  min-width: 165px;
}

.twitter-typeahead .tt-dropdown-menu{
  border: 2px solid #267da8;
}

.tokenfield .token {
  background-color: #267da8;
  color: #ffffff;
}

.tokenfield .token:hover{
  border-color: #d9d9d9;
}

#rule_form .radio {
  padding-left: 32px;
  margin-top: 10px;
}

#criteria {
  margin-bottom: 3px;
}

#changelog_accordion .panel-heading{
  padding: 6px 10px;
}

#changelog_accordion h4{
  font-size: 12px;
  font-weight: normal;
}

#changelog_accordion .panel-heading > a{
  color: inherit;
}

#changelog_accordion .panel-heading > a:hover{
  color: inherit;
}

.modal-open {
    overflow: scroll;
}

.variable-group {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}

.remove_variable {
  position: absolute;
  top: 10px;
  right: -15px; 
  cursor: pointer;
}

.variables_validate_alert {
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #e74c3c;
  display: none;
}

#split_weight div.input-group {
  padding-right: 25px;
}

#remove_redirect {
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  margin-left: -35px;
  margin-top: 12px;
}

.tablesorter-bootstrap .tablesorter-header-inner {
  padding: 0px;
}

.tablesorter-bootstrap tfoot td, .tablesorter-bootstrap tfoot th, .tablesorter-bootstrap thead td, .tablesorter-bootstrap thead th {
  background-color: #f2fbfa;
}

#stats-table th.ts-pager {
  text-align: left;
}

#stats-table th.tablesorter-header {
  text-align: left;
}

#dniSearchOffersModal {
  margin-right: -15px
}

#stats-table td.offerName {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
}

#stats-table td.offerName > a {
  color: #267da8;
  text-decoration: none;
}

#stats-table td.offerName > a:hover {
  color: #267da8;
  text-decoration: none;
}

#stats-table td.offerPayout {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  color: #009F00;
}

#stats-table td.payoutType {
  font-weight: bold;
  color: grey;
}

#stats-table td.offerPayout > span.offerPayoutAmount {
  text-decoration: underline;
}

#stats-table td.offerPreview > a {
  color: #267da8;
  text-decoration: none;
}

#stats-table td.offerPreview > a:hover {
  color: #267da8;
  text-decoration: none;
}

#stats-table td > i.needApproval {
  color: #7f8c8d;
}

#stats-table td > i.isApproved {
  color: #2F9F00;
}

#stats-table td > i.isPending {
  color: #2c3e50;
}

#stats-table td > i.isRejected {
  color: #c0392b;
}

#stats-table td > i.needTerms {
  color: #f39c12;
}

#stats-table td.offerStatus > div.tooltip > div.tooltip-inner {
  font-size: 12px;
  padding:8px 5px;
}

#stats-table td.offerDescription {
  text-align:left;
  padding-left:10px; 
  padding-right:10px;
}

.tablesorter tbody > tr.even.hover > td,
.tablesorter tbody > tr.even:hover > td,
.tablesorter tbody > tr.even:hover + tr.tablesorter-childRow > td,
.tablesorter tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
  background-color: #ebf2fa;
}
.tablesorter tbody > tr.odd.hover > td,
.tablesorter tbody > tr.odd:hover > td,
.tablesorter tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.tablesorter tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
  background-color: #ebf2fa;
}
.tablesorter tbody > tr.even:hover > td,
.tablesorter tbody > tr.odd:hover > td {
  background-color: #d9d9d9;
}

.btn-needTerms {
  color: #ffffff;
  background-color: #f39c12;
}

.btn-needTerms:hover, .btn-needTerms.hover, .btn-needTerms:focus{
  background-color: #F5AA33;
}

#stats-table td.offerDescription > form.offersApprovalQuestionsForm label {
  font-size: 12px;
}

#stats-table td.offerDescription > form.offersApprovalQuestionsForm input.input-sm {
  height: 25px;
}

.required > label:after {
  content:"*";
  color:red;
}

.row {
	margin-bottom: .5px;
}

#preferences-wrapper .select2-container {
  font-size: 10px;
}

.select2-container--default .select2-selection--single {
  border-radius: 6px;
  border: 2px solid #bdc3c7;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #34495e;
}

#rule_form .select2-container .select2-selection--single{
  height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 24px;
}

.alertaccordion > .panel-default {
  border-color: #EBEBEB;
}

.alertaccordion > .panel-default > .panel-heading {
  background-color: #FFFFFF;
}

.alertaccordion > .panel-default > .panel-heading > .panel-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #E64C3C;
}

.alertaccordion > .panel-default > .panel-heading > .panel-title > a:hover {
  color: #E64C3C;
}

.alertaccordion > .panel-default > .panel-heading > .panel-title > a:active {
  color: #E64C3C;
}

.alertaccordion > .panel-default > .panel-heading > .panel-title > a:focus {
  color: #E64C3C;
}

.alertaccordion > .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #EBEBEB;
}